.Header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Header__logo {
  width: 100px;
  position: relative;
  top: 5px;
  left: -5px;
}

.Header__title {
  font-size: 48px;
  color: #333;
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.95),
    0 0 42px rgba(255, 255, 255, 0.6);
}
