.Scroller {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 300px;
  overflow-y: auto;

  & ol {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
}

.Scroller__item {
  padding: 20px;
  margin-bottom: 10px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.Scroller__item--visible {
  background-color: rgba(255, 255, 255, 0.5);
}

.Scroller__trigger {
  display: inline-block;
  border: 0;
  margin: 20px 10px 10px 10px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 255, 255, 0.75);
}

.Scroller__trigger--idle {
  cursor: pointer;
}

.Scroller__trigger--loading {
  cursor: pointer;
  display: inline-block;
  margin: 20px 10px 10px 10px;
  border: 0;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.75);
}

.Scroller__trigger--done {
  cursor: not-allowed;
}
