body {
  /* image should be in src/assets folder, but this is to test css url transform */
  background-image: url('./assets/bg-pattern.webp');
  background-size: cover;
}

.AppCore {
  border: 2px dashed rgba(255, 255, 255, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
