body {
  /* image should be in src/assets folder, but this is to test css url transform */
  background-image: url('./assets/bg-pattern.webp');
  background-size: cover;

  font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
}

.AppCore {
  border: 2px dashed rgba(255, 255, 255, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.AppCore__card-image {
  width: 80px;
  height: 80px;
  background-image: url('./assets/landscape.svg');
  background-size: cover;
  background-position: center;
}
