.Card {
  text-align: center;

  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  width: 160px;
  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Card__image {
  display: block;
}

.Card__title {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.Card__content {
  font-size: 1rem;
  color: #333;
}
