.Card {
  text-align: center;

  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  width: 160px;
  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Card__image {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  & img {
    max-width: 100%;
    max-height: 100%;
  }
}

.Card__title {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  color: royalblue;
}

.Card__content {
  font-size: 1rem;
  color: #333;
}
