name: 'Build: Auto'

on:
  push:
    # branches: ['main']
  pull_request:
    types: [opened, synchronize]

env:
  HUSKY: 0

jobs:
  build:
    name: Lint, Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    # To use Remote Caching, uncomment the next lines and follow the steps below.
    # env:
    #  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    #  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Determine build environment
        id: build-env
        run: |
          if [[ "${{ github.ref_name }}" == "main" ]]; then
            echo "environment=staging" >> $GITHUB_OUTPUT
          else
          echo "environment=development" >> $GITHUB_OUTPUT
          fi
          echo "Build environment set to: $(echo "${{ github.ref_name }}" | sed 's/main/staging/; s/develop/development/; /^staging$/!{/^development$/!s/.*/development/}')"

      - name: Build project
        uses: ./.github/actions/build-project
        with:
          # build-filter: ${{ vars.DEFAULT_BUNDLER }}
          build-environment: ${{ steps.build-env.outputs.environment }}
          check-dependencies: 'true'
          check-format: 'true'
          run-lint: 'true'
          run-tests: 'true'
